<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- إعدادات ASP.NET Core -->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SpeedTest.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <!-- إعدادات الملفات الثابتة -->
      <staticContent>
        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        <mimeMap fileExtension="." mimeType="application/octet-stream" />
      </staticContent>

      <!-- إعدادات الضغط -->
      <urlCompression doStaticCompression="false" />

      <!-- إعدادات رؤوس HTTP -->
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="no-store, no-cache, no-transform, must-revalidate" />
        </customHeaders>
      </httpProtocol>

      <!-- إعدادات التخزين المؤقت -->
      <caching enabled="false" enableKernelCache="false" />

      <!-- إعدادات الأمان -->
      <security>
        <requestFiltering>
          <verbs>
            <add verb="POST" allowed="true" />
            <add verb="GET" allowed="true" />
          </verbs>
          <fileExtensions>
            <add fileExtension="." allowed="true" />
          </fileExtensions>
          <alwaysAllowedUrls>
          </alwaysAllowedUrls>
          <requestLimits maxAllowedContentLength="2147483647"/>
        </requestFiltering>
      </security>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D90C2235-3A46-4C02-8230-415F6491672C-->
